*.pyc
*.pyo

*~
#*#
*.swp
.coverage
coverage.xml
nosetests.xml
.installed.cfg
bin
develop-eggs
pylint.out
*.egg
*.mwb.bak
*.egg-info

tmp
build
dist
*logs/

*/local.cfg
*/local.py

.DS_Store
